.sk-lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;

  &-footer {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
