<!-- <ng-container *ngIf="questionPreview">
  <button class="elaborator-question-previous-button" mat-raised-button>
    Answer review
  </button>

  <sk-elaborator-question
    *ngIf="!isLoadingQuestion"
    [question]="question"
    [currentQuestionNumber]="currentQuestionNumber"
    [readOnly]="readOnlyMode"
    [selectedAndRightAnswer]="selectedAndRightAnswer"
    (nextQuestionClick)="getNextQuestion($event)"
    (elaborationFinished)="onElaborationFinished($event)"
  ></sk-elaborator-question>
</ng-container> -->

<mat-accordion>
  <mat-expansion-panel *ngFor="let question of questions; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ i }}. {{ question.value }} </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <sk-elaborator-question
        [question]="question"
        [currentQuestionNumber]="i"
        [selectedAndRightAnswer]="selectedAndRightAnswer"
        (nextQuestionClick)="getNextQuestion($event)"
        (elaborationFinished)="onElaborationFinished($event)"
        readOnly
      ></sk-elaborator-question>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
