<div class="sk-contact-footer-links">
	<a href="https://www.buymeacoffee.com/skillaborator" target="_blank"
		><img
			src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=skillaborator&button_colour=BD5FFF&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00"
	/></a>
	<a
		href="https://github.com/amdor/skillaborator-fes"
		mat-button
		color="accent"
		target="_blank"
	>
		Contact us <img src="assets/gh-mark.png" alt="github link" />
	</a>
</div>
